<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout.html">
<div layout:fragment="content">

    <div class="row">
        <div class="col-6 mx-auto">
            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                 th:if="${param.passworderror!=null}">
                Password are not same!
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.emailerror!=null}">
                Email is busy!
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${param.success!=null}">
                User registered successfully!
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <form method="post" th:action="@{'/to-sign-up'}">
                <div class="row">
                    <div class="col-12">
                        <label>EMAIL : </label>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12">
                        <input type="email" class="form-control" required placeholder="Email" name="user_email">
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12">
                        <label>PASSWORD : </label>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12">
                        <input type="password" class="form-control" required placeholder="Password"
                               name="user_password">
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12">
                        <label>REPEAT PASSWORD : </label>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12">
                        <input type="password" class="form-control" required placeholder="Repeat Password"
                               name="user_repeat_password">
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12">
                        <label>NAME : </label>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12">
                        <input type="text" class="form-control" required placeholder="Name" name="user_name">
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12">
                        <label>SURNAME : </label>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12">
                        <input type="text" class="form-control" required placeholder="Surname" name="user_surname">
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12">
                        <label>Citizenship : </label>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12">
                        <input type="text" class="form-control" required placeholder="Citizenship" name="user_citizenship">
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12">
                        <label>Phone Number : </label>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12">
                        <input type="text" class="form-control" required placeholder="Phone number" name="user_phoneNumber">
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12">
                        <label>Number of document : </label>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12">
                        <input type="text" class="form-control" required placeholder="Number of document" name="user_numberOfDocument">
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12">
                        <button class="btn btn-success">SIGN UP</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</html>